.button, .input{
	border: none;
	cursor: pointer;
	background: none;
	outline: none;
}

.input{
	cursor: text;
}

.input::placeholder{

}

.input:focus::placeholder{
	opacity: 0;	
}

.content{
	width: 100%;
	height: 100dvh;
	overflow: hidden;
	padding: 0.5rem 1.2rem;
	background: #efedeb;
	display: flex;
	gap: 24px;
}

.sidebar{
	width: 100%;
	max-width: 250px;
	background: #fff;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	justify-content: space-between;
	padding: 3rem 2.4rem;
	height: 100%;
	overflow-y: auto;
}

.sidebarTop{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.sidebarLogo{
	width: 100%;
	max-width: 75px;
    height: 60px;
	display: flex;
    position: relative;
}

.sidebarLogo img{
	width: 100%;
    height: 100%;
    object-fit: contain;
}

.sidebarNav{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.sidebarNavLink{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 1.2rem 1.6rem;
	color: #9b9b9b;
	border-radius: 8px;
	font-size: 1.4rem;
}

.sidebarNavLink.active{
	color: #ff4d00;
	background: #ffe2d6;
}

.sidebarNavLink svg{
	width: 20px;
	flex-shrink: 0;
}

.sidebarBottom{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
}

.sidebarBottomMore{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	color: #ff4d00;
}

.sidebarBottomMore svg{
	width: 24px;
	flex-shrink: 0;
}

.sidebarBottomTheme{
	display: flex;
	align-items: center;
	padding: 0.4rem;
	border-radius: 50px;
	border: 1px solid #ccc;
}

.sidebarThemeItem{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	color: #999;
}

.sidebarThemeItem.active{
	background: #ff4d00;
	color: #fff;
}

.sidebarThemeItem svg{
    width: 24px;
    flex-shrink: 0;
}

.contentArea{
	width: 100%;
	padding: 4rem 0;
	overflow-y: auto;
	height: 100%;
}

.contentAreaWrapper{
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
    margin: 0 auto;
}

.contentAreaTop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.connectButton{
    background: #ff4d00;
    color: #fff;
    padding: 1.2rem 2rem;
    border-radius: 7px;
}

/* No auth user */
.welcome{
    width: 100%;
    display: flex;
    gap: 20px;
}

.welcomeBlock{
    position: relative;
    width: calc(100% / 2 - 20px / 2);
    border-radius: 10px;
    background: #ff4d00;
    padding: 1.2rem;
    min-height: 350px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.welcomeCircle, .dashboardInfoCircle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, .45), rgba(255, 255, 255, 0));
    pointer-events: none;
}

.dashboardInfoCircle{
    right: 40px;
}

.welcomeBlockContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcomeBlockText{
    width: 100%;
    max-width: 480px;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 300;
    margin-top: 0.6rem;
}

.welcomeBlockConnect, .downloadExtension{
    width: 100%;
    text-align: center;
    background: #fff;
    color: #ff4d00;
    border-radius: 7px;
    padding: 1.2rem;
    font-size: 1.4rem;
    margin-top: 3.2rem;
}

.downloadExtension{
    margin-top: 0;
}

.welcomeBlockTitleInner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.2rem;
}

.welcomeBlockTitleInner p:first-child{
    opacity: 0.75;
}

.welcomeBlockTitleInner p{
    color: #fff;
    font-size: 3.2rem;
    line-height: 1.2;
}

.welcomeWrapper{
    width: calc(100% / 2 - 20px / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.welcomeSolana{
    width: 100%;
    padding: 3.2rem;
    border-radius: 10px;
    background: linear-gradient(to right, #9945ff, #717adf, #46b2be);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.welcomeSolanaImg{
    position: relative;
    width: 100%;
    max-width: 59px;
    height: 46px;
}

.welcomeSolanaImg img{
    object-fit: contain;
}

.welcomeSolanaText{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcomeSolanaText p{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.35;
}

.welcomeExtension{
    width: 100%;
    border-radius: 10px;
    background: #ffe2d6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 2.4rem 1.2rem 1.2rem 1.2rem;
}

.welcomeExtensionText{
    font-size: 1.4rem;
    font-weight: 300;
}

.welcomeExtensionIcon{
    width: 24px;
    flex-shrink: 0;
    color: #ff4d00;
}

/* Auth user */
.dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.dashboardInfo{
    width: 100%;
    background: #ff4d00;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    padding: 2.4rem;
}

.dashboardWrapper{
    width: 100%;
    display: flex;
    gap: 20px;
}

.dashboardInfoBalance{
    color: #fff;
    font-weight: 600;
    font-size: 3.2rem;
    text-transform: uppercase;
}

.dashboardInfoClaim{
    margin-top: 1.2rem;
    padding: 1.6rem 3.6rem;
    font-weight: 300;
    color: #ff4d00;
    background: #fff;
    border-radius: 12px;
}

.dashboardInfoEarned{
    color: #fff;
    font-size: 1.4rem;
    margin-top: 2.6rem;
    font-weight: 300;
}

.dashboardInfoValue{
    color: #fff;
    margin-top: 1rem;
    text-transform: uppercase;
}

.dashboardInfoBread{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
}

.dashboardInfoBread svg{
    width: 16px;
    flex-shrink: 0;
}

.dashboardInvite{
    width: 100%;
    position: relative;
    padding: 2.4rem 3.2rem;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
}

.dashboardInviteSoon{
    font-family: 'CCcolon', sans-serif;
    text-transform: lowercase;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    max-width: 100px;
}

.dashboardInvite img{
    object-fit: cover;
    pointer-events: none;
}

.dashboardInviteContent{
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
}

.dashboardInviteTextBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dashboardInviteTitle{
    color: #fff;
    font-size: 2.8rem;
    margin-bottom: 1.2rem;
}

.dashboardInviteText{
    color: #fff;
    font-weight: 300;
    font-size: 1.4rem;
}

.dashboardSync{
    width: 100%;
    max-width: 300px;
    flex-shrink: 0;
    background: #ffe2d6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.2rem;
    border-radius: 15px;
}

.dashboardSyncButton{
    background: #fff;
    color: #ff4d00;
    padding: 1.6rem 4rem;
    border-radius: 8px;
    margin-top: 2.4rem;
    font-size: 1.4rem;
}

.dashboardSyncTitle{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-top: 1.6rem;
}

.dashboardSyncText{
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 1.4rem;
    margin-top: 0.4rem;
    line-height: 1.2;
}

.dashboardSyncCircle{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(255, 77, 0, .2);
    position: relative;
}

.dashboardSyncCircle:before, .dashboardSyncCircle:after{
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgba(255, 77, 0, .6);
}

.dashboardSyncCircle:after{
    width: 16px;
    height: 16px;
    background: rgba(255, 77, 0, 1);
}

.contentAreaMenu, .sidebarClose{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #fff;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
}

.contentAreaMenu svg, .sidebarClose svg{
    width: 24px;
    flex-shrink: 0;
}

.sidebarLogoInner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

/* Responsive */
@media(any-hover: hover){
	.sidebarNavLink:hover{
		color: #ff4d00;
		background: #ffe2d6;
	}

    .connectButton:hover{
        background: #e74601;
    }

    .welcomeBlockConnect:hover, .downloadExtension:hover, .dashboardInfoClaim:hover,
    .dashboardSyncButton:hover{
        background: #e7e7e7;
    }
}
@media (max-width: 1100px) {
    .dashboardWrapper{
        flex-direction: column;
        align-items: flex-start;
    }

    .dashboardSync{
        max-width: 100%;
    }
}
@media(max-width: 998px){
	.welcome{
        flex-direction: column;
        align-items: flex-start;
    }

    .welcomeBlock, .welcomeWrapper{
        width: 100%;
    }

    .sidebar{
        max-width: 220px;
    }
}
@media(max-width: 768px){
    .sidebar{
        max-width: 200px;
        padding: 2.4rem 1.2rem;
        border-radius: 0 7px 7px 0;
    }

    .content{
        padding: 0;
        gap: 0;
    }

    .contentArea{
        padding: 4rem 1.6rem;
    }

    .welcomeBlockTitleInner p{
        font-size: 2.7rem;
    }

    .welcomeCircle, .dashboardInfoCircle{
        width: 170px;
        height: 170px;
        top: -40px;
    }
}
@media (max-width: 700px) {
    .dashboardInvite, .welcomeSolana{
        padding: 2rem 1.2rem;
    }

    .dashboardInviteTitle{
        font-size: 2.4rem;
    }

    .dashboardInfoClaim{
        padding: 1.2rem 2.4rem;
    }
}
@media (max-width: 600px) {
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        max-width: 100%;
        transform: translateX(-110%);
        opacity: 0;
        transition: .2s linear;
    }

    .sidebar.active{
        transform: translateX(0);
        opacity: 1;
    }

    .contentAreaMenu, .sidebarClose{
        opacity: 1;
        pointer-events: all;
    }
}
@media(max-width: 480px){
	
}